      <footer class="site-footer cf">
        <nav>
          <a href="/sobre/">Sobre</a>
          <a href="/termos-de-servico/">Termos de Serviço</a>
        </nav>
        <p>
          Se você tem alguma dúvida/questão, é melhor se consultar com um profissional.<br>
          Este site é licenciado sob <a href="http://creativecommons.org/licenses/by/3.0/br/">
          Creative Commons Atribuição 3.0 Brasil</a>.</p>
        </p>
        <div id="with-♥">
          Desmistificado com &lt;3 por <a href="http://github.com">GitHub, Inc.</a> e <a href="http://webfatorial.com">webfatorial</a>.
        </div>
      </footer>

    </div><!-- /container -->

    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.qtip.min.js"></script>

    {% if page.layout == "license" %}
      <script type="text/javascript" src="/javascripts/ZeroClipboard.js"></script>
    {% endif %}

    <script type="text/javascript" src="/javascripts/annotations.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>

  </body>
</html>
